
<%- include('partials/header') -%>

<div>
        <h2>
            <%= postTitle %>
        </h2>
        <p class="text-single-line">
            <%= postContent %>
        </p>
</div>

<%- include('partials/footer') -%>