<%- include('header'); -%>
<div class="box">
    <h2>About ToDo List</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam facilis quae, quaerat consequuntur dignissimos alias perspiciatis eius cum placeat voluptatem non, provident magni quos! Molestias temporibus reiciendis obcaecati unde voluptatibus!</p>
</div>
<%- include('footer'); -%>