@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff") 
    format("woff")
}
@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff") 
    format("woff")
}
@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Bold.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Bold.woff") 
    format("woff");
    font-weight:700
}
@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSSemibold-Regular.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSSemibold-Regular.woff") 
    format("woff");
    font-weight:600
}
@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSMedium-Regular.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSMedium-Regular.woff") 
    format("woff");
    font-weight:500
}
@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSLight-Regular.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSLight-Regular.woff") 
    format("woff");
    font-weight:100
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Metric, Arial, sans-serif;
}

h1 {
    font-family: Metric, Arial, sans-serif;
}

body {
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
}

.container {
    max-width: 75vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.header_container {
    margin-bottom: 2.8rem;

}

.header_title {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc {
    text-align: center;
    color: grey;
    margin: 0 auto;
    width: 568px;
}

.main_container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

@media(min-width:650px) {
    .main_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:1500px) {
    .main_container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width:400px) {
    .main_container{
        grid-template-columns: repeat(1, 1fr);
    }
}


.card_container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid grey; */
    border-radius: 5px;
    box-shadow: 10px 10px 20px lightgrey;

}

.card_image_container {
    position: relative;
    overflow: hidden;
    height: 14rem;
}

.card_image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card_container:hover .card_image {
    transform:scale(1.2);
    transition-duration: 200ms;
}

.card_title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
    color: rgb(19, 17, 17);
}

.card_title_anchor:hover .card_title {
    color: blue;
}

.card_body {
    color: grey;
    font-size: 0.95rem;
}

.card_footer_container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.author_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.author_avatar_container {
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid grey;
    border-radius: 50%;
}

.card_info_container {
    display: flex;
    flex-direction: column;
}

.author_name {
    color: darkgrey;
}

.author_date {
    color: lightgrey;
}

.card_tag_container{
    font-size: 1rem;
    border: 1px solid #17EBA0;
    line-height: 1.5rem;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
}