@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff") 
    format("woff")
}
@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Regular.woff") 
    format("woff")
}
@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Bold.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXS-Bold.woff") 
    format("woff");
    font-weight:700
}
@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSSemibold-Regular.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSSemibold-Regular.woff") 
    format("woff");
    font-weight:600
}
@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSMedium-Regular.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSMedium-Regular.woff") 
    format("woff");
    font-weight:500
}
@font-face{
    font-family:"Metric";
    src:url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSLight-Regular.woff2") 
    format("woff2"), 
    url("https://d3hq6blov2iije.cloudfront.net/fonts/HPEXS-Metric-Fonts/MetricHPEXSLight-Regular.woff") 
    format("woff");
    font-weight:100
}

h1 {
    font-family: Metric, Arial, sans-serif;
}